---
import BaseLayout from "../layouts/BaseLayout.astro";

const photos = [
  "photo1.jpg",
  "photo2.jpg",
  "photo3.jpg",
  "photo4.jpg",
  "photo5.jpg",
  "photo6.jpg",
  "photo7.jpg",
  "photo8.jpg",
  "photo9.jpg"
];
---

<BaseLayout title="Jimmy Krebsz">

  <h1 class="text-3xl mb-8 text-center font-semibold">Jimmy Krebsz</h1>

  <!-- 3x3 grid -->
  <div class="max-w-7xl mx-auto grid grid-cols-3 gap-4">
    {photos.map((src) => (
      <div class="relative w-full pb-full overflow-hidden rounded-md">
        <img
          src={`/photos/${src}`}
          alt=""
          class="absolute top-0 left-0 w-full h-full object-cover"
        />
      </div>
    ))}
  </div>

</BaseLayout>
